dashboard_workflow.json
{"updatedAt":"2026-02-07T21:48:47.964Z","createdAt":"2026-01-31T19:23:50.076Z","id":"0IiePmRXE5ArRskQL2pUq","name":"Capa 4 - Chat Agent (Conversational)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"api/v1/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"9ef8cf46-1363-4d55-b2ad-f7ccaf886903","name":"Chat Webhook","webhookId":"fb2c7fa3-d73a-40e3-b44a-e9c410790834"},{"parameters":{"options":{"systemMessage":"Eres 'Growtzy AI', un analista de negocios experto y amigable.\n\nTU OBJETIVO:\nAyudar al usuario a entender sus métricas de negocio, ventas y marketing.\n\nHERRAMIENTAS:\nTienes acceso a una herramienta llamada 'get_business_data'. ÚSALA siempre que el usuario pregunte por números, ventas, leads, conversiones o rendimiento.\n\nREGLAS:\n1. Si te preguntan por datos (ej: \"¿Cuántas ventas tuve?\"), NO inventes números. Usa la herramienta.\n2. Si la herramienta devuelve datos, analízalos brevemente y responde de forma conversacional.\n3. Sé conciso. No des respuestas de más de 3 párrafos.\n4. Si el usuario saluda o pregunta cosas generales, responde amablemente sin usar herramientas.\n5. El 'locationId' necesario para la herramienta te lo daré en el contexto, no necesitas pedírselo al usuario."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[544,0],"id":"4d281ccc-38fb-47d0-a84b-e8641fae77e2","name":"Business Analyst Agent"},{"parameters":{"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[544,224],"id":"94448bb8-4c6f-4ef1-abde-060ba022f3db","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WOsrvDHnVjMA84xT","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[688,224],"id":"7ac26fa5-e951-48c5-8d3e-68a772b765de","name":"Window Buffer Memory"},{"parameters":{"name":"get_business_data","description":"Obtiene las métricas actuales del negocio: KPIs, Ventas, Funnel y Productos. Úsala cuando pregunten por rendimiento.","workflowId":{"__rl":true,"value":"3vr1yqZS0HMXl8oI","mode":"list","cachedResultUrl":"/workflow/3vr1yqZS0HMXl8oI","cachedResultName":"Capa 2 - GHL Data Ingestion"}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[864,224],"id":"ffdd856b-67d8-4baf-916a-15fcf7eac1ed","name":"Tool: Get Business Data"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"response\": \"{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1104,0],"id":"14ff4ca5-983d-47f9-9525-4282713861fe","name":"Respond to Chat"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,0],"id":"49fd19ed-9407-4295-ae14-ed9174dec403","name":"Extract Question"}],"connections":{"Chat Webhook":{"main":[[{"node":"Extract Question","type":"main","index":0}]]},"Extract Question":{"main":[[{"node":"Business Analyst Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Business Analyst Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Business Analyst Agent","type":"ai_memory","index":0}]]},"Tool: Get Business Data":{"ai_tool":[[{"node":"Business Analyst Agent","type":"ai_tool","index":0}]]},"Business Analyst Agent":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5eb3b003-c47b-4505-bd2b-339aab685afe","activeVersionId":"5eb3b003-c47b-4505-bd2b-339aab685afe","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-01-31T19:23:50.084Z","createdAt":"2026-01-31T19:23:50.084Z","role":"workflow:owner","workflowId":"0IiePmRXE5ArRskQL2pUq","projectId":"swOM41KmOGXoccrR","project":{"updatedAt":"2026-01-22T21:25:12.796Z","createdAt":"2026-01-22T21:23:46.844Z","id":"swOM41KmOGXoccrR","name":"Julian Velasquez <development@growtzy.com>","type":"personal","icon":null,"description":null,"creatorId":"90c8481b-6333-4410-a070-fbd9f9b71a87","projectRelations":[{"updatedAt":"2026-01-22T21:23:46.857Z","createdAt":"2026-01-22T21:23:46.857Z","userId":"90c8481b-6333-4410-a070-fbd9f9b71a87","projectId":"swOM41KmOGXoccrR","user":{"updatedAt":"2026-02-22T15:50:10.000Z","createdAt":"2026-01-22T21:23:46.826Z","id":"90c8481b-6333-4410-a070-fbd9f9b71a87","email":"development@growtzy.com","firstName":"Julian","lastName":"Velasquez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-22T21:26:52.919Z","personalization_survey_n8n_version":"2.2.3","automationGoalDevops":["data-syncing","ci-cd"],"companySize":"<20","companyType":"saas","role":"it","reportedSource":"friend"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"mKYWjQpm5cEw_8sAr7UOX","userActivated":true,"userActivatedAt":1769887153327,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1771180217590}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-22","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-31T19:23:52.000Z","createdAt":"2026-01-31T19:23:50.087Z","versionId":"5eb3b003-c47b-4505-bd2b-339aab685afe","workflowId":"0IiePmRXE5ArRskQL2pUq","nodes":[{"parameters":{"httpMethod":"POST","path":"api/v1/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"9ef8cf46-1363-4d55-b2ad-f7ccaf886903","name":"Chat Webhook","webhookId":"fb2c7fa3-d73a-40e3-b44a-e9c410790834"},{"parameters":{"options":{"systemMessage":"Eres 'Growtzy AI', un analista de negocios experto y amigable.\n\nTU OBJETIVO:\nAyudar al usuario a entender sus métricas de negocio, ventas y marketing.\n\nHERRAMIENTAS:\nTienes acceso a una herramienta llamada 'get_business_data'. ÚSALA siempre que el usuario pregunte por números, ventas, leads, conversiones o rendimiento.\n\nREGLAS:\n1. Si te preguntan por datos (ej: \"¿Cuántas ventas tuve?\"), NO inventes números. Usa la herramienta.\n2. Si la herramienta devuelve datos, analízalos brevemente y responde de forma conversacional.\n3. Sé conciso. No des respuestas de más de 3 párrafos.\n4. Si el usuario saluda o pregunta cosas generales, responde amablemente sin usar herramientas.\n5. El 'locationId' necesario para la herramienta te lo daré en el contexto, no necesitas pedírselo al usuario."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[544,0],"id":"4d281ccc-38fb-47d0-a84b-e8641fae77e2","name":"Business Analyst Agent"},{"parameters":{"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[544,224],"id":"94448bb8-4c6f-4ef1-abde-060ba022f3db","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"WOsrvDHnVjMA84xT","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[688,224],"id":"7ac26fa5-e951-48c5-8d3e-68a772b765de","name":"Window Buffer Memory"},{"parameters":{"name":"get_business_data","description":"Obtiene las métricas actuales del negocio: KPIs, Ventas, Funnel y Productos. Úsala cuando pregunten por rendimiento.","workflowId":{"__rl":true,"value":"3vr1yqZS0HMXl8oI","mode":"list","cachedResultUrl":"/workflow/3vr1yqZS0HMXl8oI","cachedResultName":"Capa 2 - GHL Data Ingestion"}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[864,224],"id":"ffdd856b-67d8-4baf-916a-15fcf7eac1ed","name":"Tool: Get Business Data"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"response\": \"{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1104,0],"id":"14ff4ca5-983d-47f9-9525-4282713861fe","name":"Respond to Chat"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,0],"id":"49fd19ed-9407-4295-ae14-ed9174dec403","name":"Extract Question"}],"connections":{"Chat Webhook":{"main":[[{"node":"Extract Question","type":"main","index":0}]]},"Extract Question":{"main":[[{"node":"Business Analyst Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Business Analyst Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Business Analyst Agent","type":"ai_memory","index":0}]]},"Tool: Get Business Data":{"ai_tool":[[{"node":"Business Analyst Agent","type":"ai_tool","index":0}]]},"Business Analyst Agent":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]}},"authors":"Julian Velasquez","name":"Version 5eb3b003","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-31T19:23:52.927Z","id":13,"workflowId":"0IiePmRXE5ArRskQL2pUq","versionId":"5eb3b003-c47b-4505-bd2b-339aab685afe","event":"activated","userId":"90c8481b-6333-4410-a070-fbd9f9b71a87"}]}}