new_workflow.json
{
  "updatedAt": "2026-02-07T21:48:35.000Z",
  "createdAt": "2026-01-31T19:07:04.647Z",
  "id": "3vr1yqZS0HMXl8oI",
  "name": "Capa 2 - GHL Data Ingestion",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d99605a6-78bb-4026-9b7a-aa4da58d8da0",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        336,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      pipelines: [\n        {\n          id: \"pipeline_1\",\n          stages: [\n            { id: \"stage_1\", name: \"New Lead\", order: 1 },\n            { id: \"stage_2\", name: \"Contacted\", order: 2 },\n            { id: \"stage_3\", name: \"Qualified\", order: 3 },\n            { id: \"stage_4\", name: \"Proposal\", order: 4 },\n            { id: \"stage_5\", name: \"Won\", order: 5 }\n          ]\n        }\n      ],\n      opportunities: [\n        { id: \"opp_1\", pipelineStageId: \"stage_1\", status: \"open\", monetaryValue: 500, source: \"Facebook Ads\", engagementScore: 20, responseTimeMinutes: 120 },\n        { id: \"opp_2\", pipelineStageId: \"stage_5\", status: \"won\", monetaryValue: 1200, source: \"Google Ads\", engagementScore: 90, responseTimeMinutes: 5 },\n        { id: \"opp_3\", pipelineStageId: \"stage_2\", status: \"open\", monetaryValue: 300, source: \"Organic\", engagementScore: 40, responseTimeMinutes: 45 },\n        { id: \"opp_4\", pipelineStageId: \"stage_5\", status: \"won\", monetaryValue: 800, source: \"Organic\", engagementScore: 85, responseTimeMinutes: 10 },\n        { id: \"opp_5\", pipelineStageId: \"stage_3\", status: \"open\", monetaryValue: 1500, source: \"Facebook Ads\", engagementScore: 60, responseTimeMinutes: 30 },\n        { id: \"opp_6\", pipelineStageId: \"stage_4\", status: \"open\", monetaryValue: 2000, source: \"Google Ads\", engagementScore: 75, responseTimeMinutes: 15 },\n        { id: \"opp_7\", pipelineStageId: \"stage_1\", status: \"lost\", monetaryValue: 400, source: \"Facebook Ads\", engagementScore: 10, responseTimeMinutes: 300 }\n      ],\n      marketingSpend: {\n        \"Facebook Ads\": 500,\n        \"Google Ads\": 600,\n        \"Organic\": 0\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "id": "node-mock-data",
      "name": "Mock GHL API Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pipelines = data.pipelines[0].stages;\nconst opps = data.opportunities;\n\nconst funnelMap = {};\npipelines.forEach(s => funnelMap[s.id] = { name: s.name, count: 0, order: s.order });\n\nopps.forEach(o => {\n  if(funnelMap[o.pipelineStageId]) {\n    funnelMap[o.pipelineStageId].count += 1;\n  }\n});\n\nconst sales_funnel = Object.values(funnelMap).sort((a,b) => a.order - b.order).map(stage => {\n  return {\n    stage: stage.name,\n    count: stage.count\n  };\n});\n\n// Create charts object if not exist\nif (!data.charts) data.charts = {};\ndata.charts.sales_funnel = sales_funnel;\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ],
      "id": "node-funnel",
      "name": "Funnel Transformation"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst opps = data.opportunities;\n\nconst cluster_data = opps.map(o => ({\n  id: o.id,\n  x_engagement: o.engagementScore || 0,\n  y_value: o.monetaryValue || 0,\n  category: o.source,\n  status: o.status\n}));\n\ndata.charts.cluster_data = cluster_data;\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "id": "node-cluster",
      "name": "Data Isolation & Clustering"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst opps = data.opportunities;\nconst spend = data.marketingSpend || {};\n\nlet totalResponseTime = 0;\nconst sourceStats = {};\nconst valueByStage = {};\nlet totalEngagement = 0;\n\nopps.forEach(o => {\n  totalResponseTime += o.responseTimeMinutes || 0;\n  totalEngagement += o.engagementScore || 0;\n  \n  if(!sourceStats[o.source]) sourceStats[o.source] = { leads: 0, won: 0, value: 0 };\n  sourceStats[o.source].leads += 1;\n  if(o.status === \"won\") {\n    sourceStats[o.source].won += 1;\n    sourceStats[o.source].value += o.monetaryValue || 0;\n  }\n  \n  const stageName = data.pipelines[0].stages.find(s => s.id === o.pipelineStageId)?.name || o.pipelineStageId;\n  valueByStage[stageName] = (valueByStage[stageName] || 0) + (o.monetaryValue || 0);\n});\n\nconst numOpps = opps.length || 1;\nconst avgResponseTime = totalResponseTime / numOpps;\nconst avgEngagement = totalEngagement / numOpps;\n\nlet totalSpend = Object.values(spend).reduce((a,b) => a+b, 0);\nlet totalWon = opps.filter(o => o.status === 'won').length;\nconst cpa = totalWon > 0 ? totalSpend / totalWon : 0;\n\ndata.additional_kpis = {\n  avg_response_time_mins: parseFloat(avgResponseTime.toFixed(2)),\n  avg_engagement_score: parseFloat(avgEngagement.toFixed(2)),\n  overall_cpa: parseFloat(cpa.toFixed(2))\n};\n\ndata.charts.win_rate_by_source = Object.keys(sourceStats).map(src => {\n  const snt = sourceStats[src];\n  const spendVal = spend[src] || 0;\n  const win_rate = snt.leads > 0 ? (snt.won / snt.leads) * 100 : 0;\n  const roi = spendVal > 0 ? ((snt.value - spendVal) / spendVal) * 100 : (snt.value > 0 ? 100 : 0);\n  return {\n    source: src,\n    win_rate: parseFloat(win_rate.toFixed(2)),\n    total_revenue: snt.value,\n    roi: parseFloat(roi.toFixed(2))\n  };\n});\n\ndata.charts.pipeline_value_by_stage = Object.keys(valueByStage).map(st => ({\n  stage: st,\n  value: valueByStage[st]\n}));\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "id": "node-metrics",
      "name": "Additional Marketing Metrics"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst finalOutput = {\n  kpis: {\n    total_leads: data.opportunities.length,\n    total_revenue: data.charts.win_rate_by_source.reduce((sum, item) => sum + item.total_revenue, 0),\n    avg_response_time: data.additional_kpis.avg_response_time_mins,\n    avg_engagement: data.additional_kpis.avg_engagement_score,\n    cpa: data.additional_kpis.overall_cpa\n  },\n  charts: data.charts,\n  metadata: {\n    total_records_processed: data.opportunities.length,\n    status: \"success\"\n  }\n};\n\nreturn [{ json: { payload: finalOutput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ],
      "id": "node-output",
      "name": "Output Formatter"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Mock GHL API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock GHL API Response": {
      "main": [
        [
          {
            "node": "Funnel Transformation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Funnel Transformation": {
      "main": [
        [
          {
            "node": "Data Isolation & Clustering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Isolation & Clustering": {
      "main": [
        [
          {
            "node": "Additional Marketing Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Marketing Metrics": {
      "main": [
        [
          {
            "node": "Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a1d1ba8e-47d3-4340-b1a0-2bf7cdb5af32",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-31T19:07:04.655Z",
      "createdAt": "2026-01-31T19:07:04.655Z",
      "role": "workflow:owner",
      "workflowId": "3vr1yqZS0HMXl8oI",
      "projectId": "swOM41KmOGXoccrR",
      "project": {
        "updatedAt": "2026-01-22T21:25:12.796Z",
        "createdAt": "2026-01-22T21:23:46.844Z",
        "id": "swOM41KmOGXoccrR",
        "name": "Julian Velasquez <development@growtzy.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "90c8481b-6333-4410-a070-fbd9f9b71a87",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T21:23:46.857Z",
            "createdAt": "2026-01-22T21:23:46.857Z",
            "userId": "90c8481b-6333-4410-a070-fbd9f9b71a87",
            "projectId": "swOM41KmOGXoccrR",
            "user": {
              "updatedAt": "2026-02-22T15:50:10.000Z",
              "createdAt": "2026-01-22T21:23:46.826Z",
              "id": "90c8481b-6333-4410-a070-fbd9f9b71a87",
              "email": "development@growtzy.com",
              "firstName": "Julian",
              "lastName": "Velasquez",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T21:26:52.919Z",
                "personalization_survey_n8n_version": "2.2.3",
                "automationGoalDevops": [
                  "data-syncing",
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "it",
                "reportedSource": "friend"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "mKYWjQpm5cEw_8sAr7UOX",
                "userActivated": true,
                "userActivatedAt": 1769887153327,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1771180217590
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}